header {
  position: sticky;
  top: 0;
  left: 0;

  grid-area: header;

  display: flex;
  justify-content: space-between;

  background-color: var(--background);

  #language-select-container,
  #header-links-container {
    align-items: center;
    display: flex;
  }

  #header-links-container {
    align-items: center;
    gap: clamp(2rem, 5vw, 3rem);

    a {
      font-size: clamp(2rem, 5vw, 3rem);
      text-decoration: none;
      color: var(--air-superiority-blue);

      &:hover {
        color: var(--light-steel-blue);
      }
    }
  }
}
