:root {
  --eerie-black: #242424ff;

  --air-superiority-blue: #6ea4bfff;
  --maximum-blue: #5eb1bfff;
  --light-steel-blue: #b4c5e4ff;

  --french-violet: #6f2dbdff;
  --medium-purple: #907ad6ff;

  --lemon-meringue: #eee5bfff;

  --tea-green: #e8f8c1ff;
  --tea-green-2: #d1ffc6ff;

  --baby-pink: #e5c2c0ff;
  --persian-pink: #ff8cc6ff;

  --chestnut: #98473eff;

  font-family: Poppins, sans-serif;

  --background: var(--eerie-black);
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);
}

#root {
  width: inherit;
  height: inherit;
  min-height: inherit;

  padding: 0 clamp(10px, 5vw, 80px);
  box-sizing: border-box;

  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 5rem auto;
}

main {
  grid-area: main;
}

h1 {
  margin: 0;
  font-size: 8em;
  line-height: 1.1;
}

a {
  text-decoration: none;
}
