.flag-button {
  width: 4rem;

  border-radius: 3em;
  border: none;

  overflow: hidden;
  background: transparent;

  cursor: pointer;

  scale: 1;

  &.selected {
    cursor: not-allowed;
    scale: 1.6;
  }
}
